---
import "../styles/global.css"
---

<!doctype html>
<html lang="fa">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/periodic-table-farsi/favicon.svg" />
		<link rel="icon" href="/periodic-table-farsi/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body dir="rtl" class="bg-background">
		<slot />
	</body>
</html>


